<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>易房好介.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04F06CC41D2DFE910081A34D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F06CDD1D2DFE920081A34D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F06CE81D2DFE920081A34D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
